@waterfall-padding:2%;

html,body {
    padding: 0;
    margin: 0;
}
.waterfall-layout (@image-gap,@img-count){
    width: (100%-@image-gap*(@img-count+1))/@img-count;
    height: auto;
    padding-left: @image-gap;
    padding-top: @image-gap;
    float: left;
}
.image-specification (@height,@width,@padding) {
    height: @height;
    width: @width;
    padding-bottom: @padding;
}
.transition (@action,@seconds) {
    -webkit-transition: @action @seconds;
    -moz-transition: @action @seconds;
    -ms-transition: @action @seconds;
    -o-transition: @action @seconds;
    transition: @action @seconds;
}
.show (@opacity,@width) {
    .transition(all,1s);
    opacity: @opacity;
    width: @width;
}

.lucas-album {
    .waterfall {
        li {
            list-style: none;
        }
        img {
            .image-specification(auto,100%,@waterfall-padding);
        }
    }
    .waterfall-3 {
        .waterfall-layout(@waterfall-padding,3);
    }
    .waterfall-4 {
        .waterfall-layout(@waterfall-padding,4);
    }
    .waterfall-5 {
        .waterfall-layout(@waterfall-padding,5);
    }
}
.overlay {
    width: 0;
    height: 100%;
    background-color: grey;
    position:fixed;
    z-index: 20;
    opacity: 0;
    .transition(all,1s);
}
.previewImage {
    width: 0;
    height: 100%;
    background-color: transparent;
    position:fixed;
    z-index: 22;
    opacity: 0;
    .transition(all,1s);
    text-align: center;
}
.overlayShow {
    .show(0.5,100%);
}
.previewShow {
    .show(1,100%);
}
.imageShow {
    .show(1,auto);
    height: 70%;
    margin-top: 5%;
}
.imageHidden {
    .transition(all,1s);
    opacity: 0;
    height: 0;
}
.hidden {
    .transition(all,1s);
    opacity: 0;
    width: 0;
}
